@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);


:root {
    --primary-color: rgb(25, 162, 146);
    --primary-color-opac: rgba(25, 162, 146, 0.422);
    --Gray-6: #F2F2F2;
    --secondary: #ffe7d8;
}



* {



    font-family: 'Ubuntu';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f0f2f5 #ffffff;
}

/* Применяем стили для полосы прокрутки в Firefox */
*:hover {
    scrollbar-color: var(--primary-color) #ffffff;
    /* Цвет полосы прокрутки при наведении курсора */
}

/* Применяем стили для полосы прокрутки веб-кита (Chrome, Safari, Edge) */
*::-webkit-scrollbar-track {
    border-radius: 4px;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #f0f2f5;
    /* Цвет полосы прокрутки */
}

*:hover::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: white;
    background-position: center;
    background-size: cover;
    max-width: 1280px;
    margin: 0 auto;
}


.main {
    display: flex;

}


.sel-no {
    user-select: none;
    caret-color: transparent;
}

.rel {
    position: relative;
}


.error-text {
    color: red;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;

}